body{
    margin:0;
    padding: 0;
     height: 100vh;
     width: 100;
    
    
}
.b{
    border: 1px solid black;
}
.navbar{
    height: 100px;
    width: 100;
    margin-top: 10px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
    padding: 0;
}
.av{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro{
   
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat( 3,200px );
      justify-content: space-around;
      gap: 100px;

}
.box{
    border: 1px solid black;
    
}
.mo{

    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat( 2,200px );
    justify-content: space-around;
     gap: 100px;

}
.link{
    height: 75px;
    width: 100;
   
}
.link>ul{
    list-style: none;
    display: flex;
    gap: 100px;
}
.foot{
    height: 75px;
    width: 100;
    background-color: blue;
}
.foot>ul{
    height: 75px;
    width: 100vw;
    list-style: none;
    display: flex;
   justify-content: space-around;
   color: aliceblue;
  
   align-items: center;
    

}
img{
    height: 175px;
    width: 200px; 
}




