/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #1f1c2c, #928dab); /* Elegant gradient background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow: hidden;
}
